<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rick.jinmall.mapper.ProductMapper">

    <insert id="addProductType" parameterType="com.rick.jinmall.bean.product.ProductType">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into tb_product_type(product_type_name, product_type_desc, product_type_level, parent_id)
        value(#{productTypeName}, #{productTypeDesc}, #{productTypeLevel}, #{parentId})
    </insert>
    <insert id="addProduct">

    </insert>
    <delete id="deleteProductTypeById" parameterType="int">
        delete from tb_product_type where id = #{id}
    </delete>
    <delete id="deleteProductById">

    </delete>
    <select id="getProductTypeById" parameterType="int" resultType="com.rick.jinmall.bean.product.ProductType">
        select * from tb_product_type where id = #{id}
    </select>
    <select id="getProductType"  resultType="com.rick.jinmall.bean.product.ProductType">
        select * from tb_product_type;
    </select>
    <update id="updateProductTypeById" parameterType="com.rick.jinmall.bean.product.ProductType">
        update tb_product_type set product_type_name = #{productTypeName},
        product_type_desc=#{productTypeDesc} where id=#{id}
    </update>
    <update id="auditProduct">

    </update>
    <update id="updateProduct">

    </update>
    <update id="updateProductByStatus">

    </update>
    <select id="queryListByProductVo" parameterType="com.rick.jinmall.bean.product.ProductType"
            resultType="com.rick.jinmall.bean.product.ProductType">
        select * from tb_product_type
        <where>
            <include refid="customSQL"></include>
        </where>
    </select>
    <select id="getProductById" resultType="com.rick.jinmall.bean.product.Product">

    </select>
    <select id="queryProductByVo" resultType="com.rick.jinmall.bean.product.Product">

    </select>
    <select id="queryProductByIds" resultType="com.rick.jinmall.bean.product.Product">
        
    </select>
    <sql id="customSQL" >
        <if test="customProductType != null">
            <if test="customProductType.productTypeName != null and customProductType.productTypeName != ''">
                and product_type_name = "${customProductType.productTypeName}"
            </if>
            <if test="customProductType.productTypeDesc != null and customProductType.productTypeDesc != '' ">
                and product_type_desc = "${customProductType.productTypeDesc}"
            </if>
            <if test="customProductType.productTypeLevel != null and customProductType.productTypeLevel != '' ">
                and product_type_level = "${customProductType.productTypeLevel}"
            </if>
            <if test="customProductType.parentId != null and customProductType.parentId != '' ">
                and parent_id = "${customProductType.parentId}"
            </if>
        </if>
    </sql>
</mapper>
